# .env.example

# Database Configuration
database_url=<your_database_url>
database_user=<your_database_user>
database_password=<your_database_password>

auth_jwt_secret=<your_jwt_secret>
auth_jwt_expiration=<token_expiration_time>